@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #008080;
  --color-secondary: #BE6C25;
  --color-accent: #FEF9E0;
}

@layer base {
  html,
  body {
    @apply bg-gray-50 text-gray-900 antialiased;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-cabinet), sans-serif;
  }
}

/* Hide scrollbars where needed while keeping scroll functionality */
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
